body {
  background-color: black;

}

#test {
  margin-left:  13vh;
  margin-right: 13vh;
  margin-top:  3vh;

}


#logo {
  height: 10vh;
  background-image: url("picture/LOGO.jpg");
  background-size: 100% 100%;

}

#top_word {
  text-align: center;
  vertical-align: middle;
  font-style: italic ;
  color: white;
  /*background-color: green;*/
}

#top_word_box {
  height: 10vh;
}

/*#test2 {
  background-color: yellow;
}*/
